# data (don’t commit big rasters or intermediates)
src/legacy/
data/raw/
data/interim/
data/composites/*
!data/composites/.gitkeep
!data/composites/ndvi_median_1995.tif
!data/composites/ndvi_median_2002.tif
!data/composites/ndvi_median_2021.tifdata/change/
data/composites/-old
data/-dep
data/aoi/*.shp
data/aoi/*.shx
data/aoi/*.dbf
data/aoi/*.prj
data/aoi/*.cpg
__pycache__/

*.pyc
*.tif
*.tiff
*.nc
*.zip
*.SAFE

# environment & cache
.env
.venv
__pycache__/
.ipynb_checkpoints/
.DS_Store
